(base) bryanfollenweider@Bryans-MacBook-Pro desktop % touch .env
(base) bryanfollenweider@Bryans-MacBook-Pro desktop % vi env





















NASDAQ_API_KEY="wz44CEy2-4zb5xsePKgH"
ALPACA_API_KEY="PK9GZHZXY0GBZZR11WJE"
ALPACA_SECRET_KEY="eoPDOtn0is777VbR1PMehsgQ4pHxXcn2GWYfjcfF"
~                                                                               
~                                                                               
~                                                                               
~                                                                               
~                                                                               
~                                                                               
~                                                                               
~                                                                               
~                                                                               
~                                                                               
~                                                                               
~                                                                               
~                                                                               
~                                                                               
~                                                                               
~                                                                               
~                                                                               
~                                                                               
~                                                                               
~                                                                               

